<%- include('partials/header.ejs') %>


<body>
    <%- include("partials/navbar.ejs") %>

    <div class="container">
       <hr>
        <h1><%= pergunta.titulo %></h1>
        <hr>
        <p><%= pergunta.descricao %></p>

        <form method="POST" action="/responder">
            <h3>Responda</h3><hr>
            <label>Resposta:</label>
            <textarea name="corpo"class="form-control" placeholder="Digite a sua resposta"></textarea>
            <br>
           <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
            <button type="submit" class="btn btn-primary">Responder</button>



        </form>
     <hr>
     <h3>Respostas</h3>
     <hr>
     <% respostas.forEach(resposta => { %>
        <br>
        <div class="card">

            <div class="card-body">
            <%= resposta.corpo %>
             </div>
            </div>

        
        
        <%  }) %>

       

    </div>


</body>

<%- include('partials/footer.ejs') %>